
/* Assign base font-size */
html {
  font-size: 18px;
}

body {
  font-family: Helvetica;
}

/* Put a box around all containers */

/* .container {
  border: solid gray 1px;
} */

/* ---------------------------------------------- Logo Bar ---------------------------------------- */

/* Put logo together */
.logo-companyname {
  display: flex;
  background-color: Black;
  width: 960px;
  justify-content: flex-start;
  align-items: center;
  color: white;
  padding: 0.66rem 0;
}

/* Format image in title */
#logo {
  height: 1.5rem;
  width: auto;
  margin-right: 1rem;
  margin-left: 0.5rem;
}

/* Align top bar */
.company {
  display: flex;
  justify-content: center;
  background-color: black;
}

/* ---------------------------------------------- Main Media -------------------------------------- */

/* Format main media-board */
.media-board {
  background-image: url("../images/moto.jpeg");
  background-size: cover;
  background-repeat: no-repeat;
  height: 25rem;
  display: flex;
  justify-content: center;
}

/* Format container inside main media-board */
.inside-media-board {
  width: 960px;
}

/* Format media-box */
.media-box {
  width: 20rem;
  background-color: black;
  padding: 2rem 3rem;
  margin-top: 9rem;
  color: white;
}

/* format h4 elements in the main media-box */
.media-box h4 {
  font-family: Helvetica;
  font-size: 1rem;
  font-weight: bold;
}

/* Format h1 elelents in the main meida-box */
.media-box h1 {
  font-family: Helvetica;
  font-size: 2rem;
  font-weight: bold;
  margin-top: 1rem;
}

/* ---------------------------------------------- Navigation -------------------------------------- */

/* Format nav-bar */
.nav-bar {
  display: flex;
  justify-content: center;
  background-color: firebrick;
}

/* Format Nav */
.nav {
  width: 960px;
  display: flex;
  justify-content: space-between;
  padding: 0.75rem 0;
  color: white;
}

/* Do not display menu-nav */
.menu-nav {
  display: none;
}

/* ---------------------------------------------- Content Section --------------------------------- */

/* Format main container */
.main {
  display: flex;
  justify-content: center;
}

/* center the main content */
.inside-main {
  width: 960px;
}

/* --------------------- Products --------------- */

/* Format the products container */
.products {
  display: flex;
  justify-content: space-between;
  margin-top: 3rem;
}

/* Format image AND text container */
.product {
  width: 30%;
  border: solid black 4px;
}

/* Format image container */
.img-product {
  height: 9rem;
  overflow: hidden;
  padding: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Format product images that are tall */
.product-img-t {
  max-height: 100%;
  width: auto;
  display: block;
}

/* Format product images that are wide */
.product-img-w {
  max-width: 100%;
  height: auto;
  display: block;
}

/* Format product text */
.product-text {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.5rem 0;
  background-color: black;
  color: white;
}

/* --------------------- Location and Hours ----- */

/* Format location and hours space */
.location-hours {
  display: flex;
  justify-content: space-between;
  margin-top: 3rem;
  margin-bottom: 4rem;
}

/* Format location and hours boxes */
.title-item {
  width: 35%;
}

/* Forat title boxes */
.title {
  padding: 1rem 2rem;
  color: white;
  background-color: black;
}

/* ---------------------------------------------- Footer ------------------------------------------ */

/* Format footer container */
.footer {
  display: flex;
  justify-content: center;
  background-color: black;
  height: 5rem;
}

/* Format inside-footer container */
.inside-footer {
  width: 960px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  color: white;
}

/* ---------------------------------------------- 1024px Media Query ------------------------------ */

@media only screen and (max-width: 1024px) {
  /* Do not display nav */
  .nav {
    display: none;
  }

  /* Display menu instead */
  .menu-nav {
    width: 960px;
    display: flex;
    justify-content: center;
    padding: 0.75rem 0;
    color: white;
  }

  /* Remove one product */
  #glasses-box {
    display: none;
  }

  /* Format product boxes */
  .product {
    width: 47%;
  }

  /* Format location and hours boxes */
  .title-item {
    width: 35%;
  }
}

/* ---------------------------------------------- 470px Media Query ------------------------------- */

@media only screen and (max-width: 470px) {
  /* ------------------- Media Box -------------- */

  /* Move media-box to bottom of inside-media-board */
  .inside-media-board {
    display: flex;
    align-items: flex-end;
    width: 470px;
  }

  /* Remove margin to place media-box agains nav */
  .media-box {
    margin: 0;
  }

  /* Format h4 elements in media-box */
  .media-box h4 {
    font-size: 0.77rem;
  }

  /* Format h1 elements in media-box */
  .media-box h1 {
    font-size: 1rem;
  }

  /* ------------------- Products --------------- */
  .inside-main {
    width: 470px;
  }

  /* Remove watch product */
  #watch-box {
    display: none;
  }

  /* Format products container */
  .products {
    display: flex;
    justify-content: center;
  }

  /* Format product box */
  .product {
    width: 90%;
  }

  /* ------------------- Location & Hours ------- */

  /* Set location-hours to column */
  .location-hours {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  /* Format location and hours boxes */
  .title-item {
    width: 90%;
    margin-top: 0.5rem;
  }

  /* ------------------- Footer ----------------- */
  .inside-footer {
    width: 470px;
    display: flex;
    justify-content: center;
  }
}
